.App {
  text-align: center;
  width: 40%;
  margin: auto;
}
.article_list {
  background-color: rgb(237, 245, 251);
  border-style: outset;
  padding: 10px;
  margin: 10px;
}

.comment_count {
  text-align: right;
  margin-right: 20px;
}

@media screen and (max-width: 800px) {
  .App {
    width: 90%;
  }
}
.article_page_body {
  text-align: justify;
}

h1 {
  text-align: center;
}

.comments {
  border-style: solid;
  padding: 10px;
  margin-top: 20px;
}
